.App {
  text-align: center;
}

body {
  background-color: rgb(34, 34, 34);
}

img {
  width: 10%;
  position: relative;
  top: 200px;
}

.name {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 250%;
  position: relative;
  top: 93px;
}

.title {
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(221, 110, 36);
  font-size: 150%;
  position: relative;
  bottom: 60px;
}

.headers {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 90%;
  position: relative;
  bottom: 70px;
}
